<div class="booyah-box col-10 offset-1">
  <h1><%= @craft.name %></h1>
  <p><%= @craft.description %></p>
  <i><%= @craft.option %></i>
  <p><%= @craft.cost %></p>
  <p><%= @craft.quantity %></p>
  <div class="float-right">
    <%= link_to 'Edit', edit_craft_path(@craft), class: 'btn btn-primary' %>
    <%= link_to 'Delete', craft_path(@craft), class: 'btn btn-danger' %>
  </div>
</div>